header {
    background-image: url("images/python-logo.png");
    background-size: cover;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #888;
    width: 150px;
    height: 100%;
    padding-top: 20px;
    font-size: 14px;
    line-height: 20px;
}
.logos {
    height: 60px;
    width: 80px;
    padding: 20px;
    opacity: 0.5;
    margin-left: 10px;
}
img:hover {
    height: 80px;
    width: 100px;
     opacity: 1;
}
table, td, th {
    border: 1.5px solid #FFF;
    background-color: silver;
    border-collapse: collapse;
    width: 600px;
    text-align: center;
}
body {
    background-color: CornflowerBlue;
    font-family: sans-serif;
    margin-left: 170px;
}
.project-tile {
    display: grid;
    grid-template-columns: repeat(auto-fit, minimax(100px, 1fr));
    grid-gap: 10px;
    padding: 50px 10px;
    width: 100%;
    max-width: 600px;
    text-align: center;
    background: #CCC;
    margin-bottom: 10px;
}
[data-tab-content] {
    display: none;
}
.active[data-tab-content] {
    display: block;
}
.tabs {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid black;
}
.tab {
    cursor: pointer;
    padding: 10px;
}
.tab.active {
    background-color: #CCC
}
.tab:hover {
    background-color: #AAA;
}