* {
    font-family: serif;
}
h1, body {
    margin: 0px;
    padding: 0px;
}
h1 {
    color: #CCC;
    font-weight: normal;
    font-size: 50px;
    text-align: center;
    line-height: 200px;
}
#main-header {
    background-image: url("../images/header.jpeg");
    background-size: 100% 100%;
    height: 200px;
    opacity: 0.8;
}
.tab-content {
    margin: 20px;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #888;
    width: 150px;
    height: 100%;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}
.slider {
    position: relative;
    top: 200px;
    left: 200px;
    width: 10px;
    background-color: red;
    z-index: -1;
}
.project-div {
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    min-height: 10vh;
    color: white;
    align-items: center;
}
.logos {
    height: 60px;
    width: 80px;
    padding: 20px;
    opacity: 0.5;
    margin-left: 10px;
}
.logos:hover {
    height: 80px;
    width: 100px;
    opacity: 1;
}
table, td, th {
    border: 1.5px solid #FFF;
    background-color: silver;
    border-collapse: collapse;
    text-align: center;
}
table {
    width: 90%
}
th {
    height: 50px;
    background-color: #777;
}
tr:nth-child(odd) td {
    background-color: #DDD;
}
tr:hover td {
    background-color: cyan;
}
td {
    height: 40px;
}
body {
    background-color: CornflowerBlue;
    font-family: sans-serif;
    margin-left: 150px;
}
.pageContent {
    margin: 20px;
    display: block;
    animation: smooth 500ms ease-in;
}
.pages {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    height: 40px;
    font-size: 16px;
    text-align: center;
}
.page {
    flex: 1;
    padding: 10px;
    font-weight: bold;
    border: 1px solid black;
    cursor: pointer;
}
.page a {
    text-decoration: none;
    color: black;
}
.page.active {
    background-color: #AAA;
    font-size: 18px;
}
.page:hover {
    background-color: #CCC;
    font-size: 18px;
}
@keyframes smooth {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}
#profileLink {
    text-decoration: none;
    color: blue;
}
.portfolioActions a {
    text-decoration: underline;
    color: blue;
}
#contact a {
    font-weight: normal;
    text-decoration: underline;
    color: blue;
}
.graph {
    width: 1000px;
    height: 400px;
    background-color: #CCC;
}
#g1 {
    z-index: 1;
}
#portfolioStats {
    background-color: #AAA;
    width: 400px;
    height: 100px;
    font-weight: bold;
    text-align: center;
    line-height: 2;
}
