* {
    font-family: serif;
}
h1, body {
    margin: 0px;
    padding: 0px;
}
#main-h1 {
    color: black;
    font-weight: normal;
    font-size: 40px;
    font-family: "Jazz LET";
    text-align: center;
    text-transform: uppercase;
}
#main-h1-style {
    display: grid;
    height: 60px;
    grid-template-columns: 1fr max-content 1fr;
    align-items: center;
    background-color: #CCC;
}
#main-h1-style:after, #main-h1-style:before {
    content: " ";
    display: block;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    height: 5px;
}
#main-header {
    background-image: url("../images/header1.jpg");
    background-size: 100% 100%;
    height: 200px;
    opacity: 0.8;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #888;
    width: 150px;
    height: 100%;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}
.logos {
    height: 60px;
    width: 80px;
    padding: 20px;
    opacity: 0.5;
    margin-left: 10px;
}
.logos:hover {
    height: 80px;
    width: 100px;
    opacity: 1;
}
table, td, th {
    border: 1.5px solid #FFF;
    background-color: silver;
    border-collapse: collapse;
    text-align: center;
}
table {
    width: 90%
}
th {
    height: 50px;
    background-color: #777;
}
tr:nth-child(odd) td {
    background-color: #DDD;
}
tr:hover td {
    background-color: cyan;
}
td {
    height: 40px;
}
body {
    font-family: sans-serif;
    margin-left: 150px;
}
.pageContent {
    display: grid;
    opacity: 0.8;
    animation: smooth 500ms ease-in;
    justify-content: center;
}
.submit {
    background-color: #AAA;
    padding: 5px 10px;
    cursor: pointer;
    text-align: center;
    outline: none;
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px #999;
    color: blue;
    font-size: 15px;
}
.submit:hover {
    background-color: #AAA;
}
.submit:active {
    background-color: #AAA;
    box-shadow: 0 5px #999;
    transform: translateY(4px);
}
.refresh {
    padding-top: 10px;
    display: flex;
    width: 1200px;
    justify-content: space-between;
}
.input {
    border: 1px solid #AAA;
    width: 150px;
    height: 20px;
}
.pageHeading {
    font-family: "Jazz LET";
}
.pages {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    height: 40px;
    font-size: 16px;
    font-family: "Jazz LET";
    text-align: center;
    background-color: #CCC;
}
#pageBackground {
    background-color: white;
}
.page {
    flex: 1;
    padding: 10px;
    font-weight: bold;
    border: 1px solid black;
    cursor: pointer;
}
.page a {
    text-decoration: none;
    color: black;
}
.page.active {
    background-color: #AAA;
    font-size: 18px;
}
.page:hover {
    background-color: #CCC;
    font-size: 18px;
}
@keyframes smooth {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}
#profileLink {
    text-decoration: none;
    color: blue;
}
.portfolioActions a {
    text-decoration: underline;
    color: blue;
}
#contact a {
    font-weight: normal;
    text-decoration: underline;
    color: blue;
}
.tableContainer {
    display: flex;
    justify-content: center;
}
#dashboardGraphs {
    width: 1200px;
    height: 600px;
    background-color: ;
    z-index: -1
}
#portfolioStats {
    padding: 30px;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}
.portfolioBox {
    font-weight: bold;
    line-height: 2;
    display: grid;
    grid-template-rows: auto auto;
    grid-gap: 10px;
}
.portfolioTotalHeading {
    border: 3px solid #AAA;
    background-color: #CCC;
    text-align: center;
}
.portfolioTotal {
    border: 3px solid #AAA;
    background-color: #EEE;
    text-align: center;
}
#graphHeadingContainer {
    padding: 15px;
    border: 15px;
}
#analysisGraphHeading {
    border: 3px solid #AAA;
    column-gap: 5px;
    background-color: #CCC;
    font-weight: bold;
    line-height: 2;
    text-align: center;
}
#analysisGraphs {
    width: 1200px;
    height: 850px;
    background-color: ;
    z-index: -1;
    position: flex;
    justify-content: space-between;
}
.chartContainer {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
}
#g1 {
    padding: 10px;
    border: 3px solid #AAA;
}
#g2 {
    padding: 10px;
    border: 3px solid #AAA;
}
#g3 {
    padding: 10px;
    border: 3px solid #AAA;
}
#g4 {
    padding: 10px;
    border: 3px solid #AAA;
}
#g5 {
    position: inline-block;
    border: 3px solid #AAA;
}
.gaugeContainer {
    display: flex;
    grid-template-rows: 500px 500px;
    justify-content: space-around;
}
#highlowbar {
    display: grid;
    justify-content: center;
}
#indices {
    width: 1000px;
}