{% extends 'base.html' %}
{% block body %}

<script>
    document.getElementById("dashboard").classList.remove("active");
    document.getElementById("analysis").classList.add("active");
    document.getElementById("project").classList.remove("active");
</script>
<main class="pageContent">
    <h3>Check current stock price</h3>
    <p>"Example tickers: AAPL, AMZN, GOOG</p><br>

    <table>
        <tr>
            <th>Ticker</th>
            <th>Price</th>
            <th>Daily Return</th>
            <th>Beta</th>
            <th>MCap</th>
            <th>P/E</th>
            <th>low52</th>
            <th>high52</th>
        </tr>
        {% for i in current %}
        <tr>
            <td>{{  i.ticker  }}</td>
            <td>{{  i.price  }}</td>
            <td>{{  i.daily_return  }}</td>
            <td>{{  i.beta  }}</td>
            <td>{{  i.mcap  }}</td>
            <td>{{  i.pe  }}</td>
            <td>{{  i.low52  }}</td>
            <td>{{  i.high52  }}</td>
        </tr>
    {% endfor %}
    </table><br><br>

    <form action="/analysis" method="POST">
        <label for="ticker-search">Enter ticker: </label>
        <input type="text" name="ticker-search" id="ticker-search" required>

        <input type="submit" name="submit-search" value="Search">
    </form><br><br>

    <h3>Analysis Graphs</h3><br>
    <section id="analysisGraphs" class="graph">
        <!-- Charts
        1) P/E gauge - find chart type
        2) Beta gauge - find chart type
        3) 52wk - low current high
        -->
    </section>

</main>
{% endblock %}