{% extends 'base.html' %}
{% block body %}

<script>
    document.getElementById("dashboard").classList.remove("active");
    document.getElementById("analysis").classList.add("active");
    document.getElementById("market").classList.remove("active");
</script>
<main class="pageContent">
    <h3>Check current stock price</h3>
    <form action="/analysis" method="POST">
        <label for="ticker-search">Enter ticker: </label>
        <input type="text" name="ticker-search" id="ticker-search" required>

        <input type="submit" name="submit-search" value="Search">  (eg AAPL, AMZN, GOOG)
    </form><br>

    <table>
        <tr>
            <th>Ticker</th>
            <th>Name</th>
            <th>Price</th>
            <th>Daily Return</th>
            <th>Beta</th>
            <th>MCap</th>
            <th>P/E</th>
            <th>low52</th>
            <th>high52</th>
        </tr>

        <tr>
            <td>{{  current.ticker  }}</td>
            <td>{{  current.name  }}</td>
            <td>{{  current.price  }}</td>
            <td>{{  current.daily_return  }}</td>
            <td>{{  current.beta  }}</td>
            <td>{{  current.mcap  }}</td>
            <td>{{  current.pe  }}</td>
            <td>{{  current.low52  }}</td>
            <td>{{  current.high52  }}</td>
        </tr>

    </table><br><br>

    <form action="/" method="POST">

        <label for="units">Units:</label>
        <input type="number" name="units" id="units" required>

        <input type="submit" name="submit-add" value="Add To Portfolio">
    </form><br><br>


    <h3>Analysis Graphs</h3>

    <section id="analysisGraphs">
        <h3 id="analysisGraphHeading">{{  current.name  }}</h3>
        <img id="g3" src="/gaugePE.png" height="400">
        <img id="g4" src="/gaugeBeta.png" height="400">
        <img id="g5" src="/highlow52.png">


    </section>
    <p>Credit: MPL gauge design by Nicolas Fauchereau</p>
</main>
{% endblock %}