<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script type="application/javascript" src="{{  url_for('static', filename='script/script.js')  }}" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TimelineMax.min.js" integrity="sha512-lJDBw/vKlGO8aIZB8/6CY4lV+EMAL3qzViHid6wXjH/uDrqUl+uvfCROHXAEL0T/bgdAQHSuE68vRlcFHUdrUw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js" integrity="sha512-8Wy4KH0O+AuzjMm1w5QfZ5j5/y8Q/kcUktK9mPUVaUoBvh3QPUZB822W/vy7ULqri3yR8daH3F58+Y8Z08qzeg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Portfolio Analyser</title>
</head>
<body>
    <header id="main-header">
        <h1 id="main-h1">Portfolio Analyser</h1>
    </header>

    <nav id="nav-bar">
        <h3>Languages & Frameworks</h3>
        <img-div>
            <img id="image-flask" class="logos" alt="flask-logo" src="static/images/flask-logo.png">
            <img id="image-python" class="logos" alt="python-logo" src="static/images/python-logo.png">
            <img id="image-sqlite" class="logos" alt="sqlite-logo" src="static/images/sqlite-logo.png">
            <img id="image-js" class="logos" alt="js-logo" src="static/images/javascript-logo.png">
            <img id="image-css" class="logos" alt="css-logo" src="static/images/css-logo.png">
            <img id="image-html" class="logos" alt="html-logo" src="static/images/html-logo.png">
        </img-div><hr>
        <section id="contact">
            <h3>Contact me: <a id="profile-link" href="https://github.com/scottwarburton" target="_blank">Github</a> </h3>
        </section>
    </nav>

    <ul class="pages">
        <a class="page active" href="{{  url_for('dashboard')  }}"><li>Portfolio Dashboard</li></a>
        <a class="page" href="{{  url_for('analysis')  }}"><li>Stock Analysis</li></a>
        <a class="page" href="{{  url_for('project')  }}"><li>Project Tiles</li></a>
    </ul>
    {% block body %}{% endblock %}
</body>
</html>