{% extends 'base.html' %}
{% block body %}

<script>
    document.getElementById("dashboard").classList.add("active");
    document.getElementById("analysis").classList.remove("active");
    document.getElementById("project").classList.remove("active");
</script>


<main class="pageContent">
    <h3>Current Portfolio</h3>
    <table>
        <tr>
            <th>Ticker</th>
            <th>Units</th>
            <th>Price</th>
            <th>Total</th>
            <th>Date Added</th>
            <th>Actions</th>
        </tr>
        {% for stock in stocks %}
            <tr>
                <td>{{  stock.ticker  }}</td>
                <td>{{  stock.units  }}</td>
                <td>{{  stock.price  }}</td>
                <td>{{  stock.total }}</td>
                <td>{{  stock.date_added.date()  }}</td>
                <td class="portfolioActions">
                    <a href="/delete/{{stock.id}}">Delete</a>
                    <br>
                    <a href="/update/{{stock.id}}">Update</a>
                </td>
            </tr>
        {% endfor %}
    </table><br><br>

    <h3>Add Stocks</h3>
    <form action="/" method="POST">
        <label for="ticker">Ticker:</label>
        <input type="text" name="ticker" id="ticker" required>

        <label for="units">Units:</label>
        <input type="number" name="units" id="units" required>

        <label for="price">Price:</label>
        <input type="text" name="price" id="price" required>

        <input type="submit" name="submit-add" value="Add Stock">
    </form><br><br>

    <h3>Dashboard Graphs</h3>
    <section id="dashboardGraphs" class="graph">
        <!-- Charts
        1) Pie chart of assets
        2) Column chart of P/L
        3) Portfolio value + P&L
        -->
    </section>

</main>
{% endblock %}