{% extends 'base.html' %}
{% block body %}

<script>
    document.getElementById("dashboard").classList.add("active");
    document.getElementById("analysis").classList.remove("active");
    document.getElementById("project").classList.remove("active");
</script>


<main class="pageContent">
    <h3>Current Portfolio</h3>
    <table>
        <tr>
            <th>Ticker</th>
            <th>Units</th>
            <th>Purchase Price</th>
            <th>Current Price</th>
            <th>Purchase Total</th>
            <th>Current Total</th>
            <th>Profit/Loss</th>
            <th>Date Added</th>
            <th>Actions</th>
        </tr>
        {% for stock in stocks %}
            <tr>
                <td>{{  stock.ticker  }}</td>
                <td>{{  stock.units  }}</td>
                <td>{{  stock.purPrice  }}</td>
                <td>{{  stock.curPrice}}</td>
                <td>{{  stock.purTotal }}</td>
                <td>{{  stock.curTotal  }}</td>
                <td>{{  stock.pl  }}</td>
                <td>{{  stock.date_added.date()  }}</td>
                <td class="portfolioActions"><a href="/delete/{{stock.id}}">Remove</a></td>
            </tr>
        {% endfor %}
    </table><br><br>


    <h3>Dashboard Graphs</h3>
    <section id="dashboardGraphs" class="graph">
        <img id="g1" src="/pieBreakdown.png" height="300">

        <div id="portfolioStats">
            Portfolio Value: {{  portfolioValue  }}<br>
            Portfolio P&L: {{  portfolioPL  }}
        </div>
        <!-- Charts
        1) Column chart of P/L
        2) Portfolio value + P&L
        -->
    </section>

</main>
{% endblock %}