{% extends 'base.html' %}
{% block body %}

<script>
    document.getElementById("dashboard").classList.add("active");
    document.getElementById("analysis").classList.remove("active");
    document.getElementById("market").classList.remove("active");
</script>


<main class="pageContent">
    <div class="refresh">
        <h2 class="pageHeading">Current Portfolio</h2>
        <form action="/", method="POST">
            <label for="submit-refresh"></label>
            <input type="submit" class="submit" id="submit-refresh" name="submit" value="Click To Refresh Prices">
        </form>
    </div>
    <div class="tableContainer">
        <table>
            <tr>
                <th>Ticker</th>
                <th>Name</th>
                <th>Units</th>
                <th>Purchase Price</th>
                <th>Purchase Total</th>
                <th>Current Price</th>
                <th>Current Total</th>
                <th>Profit/Loss</th>
                <th>Date Added</th>
                <th>Actions</th>
            </tr>
            {% for stock in stocks %}
            <tr>
                <td>{{  stock.ticker  }}</td>
                <td>{{  stock.name  }}</td>
                <td>{{  stock.units  }}</td>
                <td>{{  stock.purPrice  }}</td>
                <td>{{  stock.purTotal }}</td>
                <td>{{  stock.curPrice}}</td>
                <td>{{  stock.curTotal  }}</td>
                <td>{{  stock.pl  }}</td>
                <td>{{  stock.date_added.date()  }}</td>
                <td class="portfolioActions"><a href="/delete/{{stock.id}}">Remove</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <section id="dashboardGraphs">
        <div id="portfolioStats">
            <div class="portfolioBox">
                <div class="portfolioTotalHeading">Portfolio Value:</div>
                <div class="portfolioTotal">$ {{  portfolioValue  }}</div>
            </div>
            <div class="portfolioBox">
                <div class="portfolioTotalHeading">Portfolio Profit/Loss:</div>
                <div class="portfolioTotal">$ {{  portfolioPL  }}</div>
            </div>
        </div>
        <div class="chartContainer">
            <img id="g1" class="portfolioGraphs" src="/pieBreakdown.png" alt="Pie Chart", height="400">
            <img id="g2" class="portfolioGraphs" src="/barBreakdown.png" alt="Bar Chart", height="400">
        </div>
        <br>
    </section>

</main>
{% endblock %}