<!DOCTYPE html>
<html id="main" lang="en">

  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title id="title">Flask Project</title>
  </head>

  <body>
    <header>
      <h1>Portfolio Analyser</h1>
      <h3>Flask project</h3>
      <br>
      <nav id=nav-bar>
        <a href="#h1" id="jump1" class="nav-link">Go To Start</a><br>
        <a href="#main" id="jump2" class="nav-link">Go To Middle</a><br>
        <a href="#footer" id="jump2" class="nav-link">Go To End</a><br>
      </nav>
      <img-div>
        <img id="image-flask" class="logos" alt="flask-logo" src="/Users/scottwarburton/Desktop/Coding/Images/flask-logo.png">
        <img id="image-python" class="logos" alt="python-logo" src="">
        <img id="image-sqlite" class="logos" alt="sqlite-logo" src="">
        <img id="image-css" class="logos" alt="css-logo" src="">
        <img id="image-html" class="logos" alt="html-logo" src="">
      </img-div>
    </header>
    <hr>
    <main id="main-first">
      <h3>Main-1</h3>
      <section id="projects">
        <div class="project-tile" id="project_1">
          <h4>Project 1</h4>
          <a href="https://en.wikipedia.org/wiki/Front-end_web_development">link</a>
        </div>
        <div class="project-tile" id="project_2">
          <h4>Project 2</h4>
          <a href="https://en.wikipedia.org/wiki/Front-end_web_development">link</a>
      </section>
    </main>

      <section id="contact">
        <h4>Contact me</h4>
        <ul>
          <li><a id="profile-link" href="https://github.com/scottwarburton" target="_blank">Github page</a></li>
          <li>Email: xxx</li>
        </ul>
      </section>
    <footer id="tribute-info">More information on <a target="_blank" id="tribute-link" href="https://en.wikipedia.org/wiki/Front-end_web_development">frontend development</a></footer>
  </body>

</html>