{% extends 'base.html' %}

{% block body %}

    <ul class="tabs">
        <li data-tab-target="#tab1" class="active tab">Portfolio Dashboard</li>
        <li data-tab-target="#tab2" class="tab">Stock Analysis</li>
        <li data-tab-target="#tab3" class="tab">Project Tiles</li>
    </ul>

    <main class="tab-content">
        <div id="tab1" data-tab-content class="active">
            <h3 id="portfolio">Current Portfolio</h3>
            <table>
                <tr>
                    <th>Ticker</th>
                    <th>Units</th>
                    <th>Price</th>
                    <th>Total</th>
                    <th>Date Added</th>
                    <th>Actions</th>
                </tr>
                {% for stock in stocks %}
                    <tr>
                        <td>{{  stock.ticker  }}</td>
                        <td>{{  stock.units  }}</td>
                        <td>{{  stock.price  }}</td>
                        <td>{{  stock.total }}</td>
                        <td>{{  stock.date_added.date()  }}</td>
                        <td>
                            <a href="/delete/{{stock.id}}">Delete</a>
                            <br>
                            <a href="/update/{{stock.id}}">Update</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <br><br>
            <!-- Charts
            1) Pie chart of assets
            2) Column chart of P/L
            3) Portfolio value + P&L
            -->
            <h3 id="add-stocks">Add Stocks</h3>
            <form action="/" method="POST">
                <label for="ticker">Ticker:</label>
                <input type="text" name="ticker" id="ticker" required>

                <label for="units">Units:</label>
                <input type="number" name="units" id="units" required>

                <label for="price">Price:</label>
                <input type="text" name="price" id="price" required>

                <input type="submit" name="submit-add" value="Add Stock">
            </form>
            <br><br>

            <section id="projects">
                <div class="project-div">
                    <img class="wc-image" src="./static/images/watering-can.jpeg">
                </div>
                <h3 class="watering-can">Watering Can</h3>
                <div class="slider"></div>
            </section>
            <script src="script/slider.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TimelineMax.min.js" integrity="sha512-lJDBw/vKlGO8aIZB8/6CY4lV+EMAL3qzViHid6wXjH/uDrqUl+uvfCROHXAEL0T/bgdAQHSuE68vRlcFHUdrUw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TimelineMax.min.js" integrity="sha512-lJDBw/vKlGO8aIZB8/6CY4lV+EMAL3qzViHid6wXjH/uDrqUl+uvfCROHXAEL0T/bgdAQHSuE68vRlcFHUdrUw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


        </div>


        <div id="tab2" data-tab-content>
            <h3>Check current stock price</h3>
            <p>"Example tickers: AAPL, AMZN, GOOG</p>
            <br><br>
            <table>
                <tr>
                    <th>Ticker</th>
                    <th>Price</th>
                    <th>Daily Return</th>
                    <th>Beta</th>
                    <th>MCap</th>
                    <th>P/E</th>
                    <th>low52</th>
                    <th>high52</th>
                </tr>
                {% for i in current %}
                <tr>
                    <td>{{  i.ticker  }}</td>
                    <td>{{  i.price  }}</td>
                    <td>{{  i.daily_return  }}</td>
                    <td>{{  i.beta  }}</td>
                    <td>{{  i.mcap  }}</td>
                    <td>{{  i.pe  }}</td>
                    <td>{{  i.low52  }}</td>
                    <td>{{  i.high52  }}</td>
                </tr>
            {% endfor %}
            </table>
            <br><br>
            <form action="/" method="POST">
                <label for="ticker-search">Enter ticker: </label>
                <input type="text" name="ticker-search" id="ticker-search" required>

                <input type="submit" name="submit-search" value="Search">
            </form>
            <!-- Charts
            1) P/E gauge
            2) Beta gauge
            3) 52wk - low current high
            -->
        </div>


        <div id="tab3" data-tab-content>
            <h3>Portfolio Analysis</h3>



        </div>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <p>End</p>
    </main>

<br><br>


{% endblock %}