{% extends 'base.html' %}

{% block body %}
<h3 id="portfolio">Current Portfolio</h3>
<table>
    <tr>
        <th>Ticker</th>
        <th>Units</th>
        <th>Price</th>
        <th>Total</th>
        <th>Date Added</th>
        <th>Actions</th>
    </tr>
    {% for stock in stocks %}
        <tr>
            <td>{{  stock.ticker  }}</td>
            <td>{{  stock.units  }}</td>
            <td>{{  stock.price  }}</td>
            <td>{{  stock.total }}</td>
            <td>{{  stock.date_added.date()  }}</td>
            <td>
                <a href="/delete/{{stock.id}}">Delete</a>
                <br>
                <a href="/update/{{stock.id}}">Update</a>
            </td>
        </tr>
    {% endfor %}
</table>
<br><br>
<h3 id="add-stocks">Add Stocks</h3>
<form action="/" method="POST">
    <label for="ticker">Ticker:</label>
    <input type="text" name="ticker" id="ticker" required>

    <label for="units">Units:</label>
    <input type="number" name="units" id="units" required>

    <label for="price">Price:</label>
    <input type="text" name="price" id="price" required>

    <input type="submit" name="submit-add" value="Add Stock">
</form>
<br><br>

<h3>Check current stock price</h3>
<p>"Example tickers: AAPL, AMZN, GOOG</p>
<table>
    <tr>
        <th>Ticker</th>
        <th>Price</th>
        <th>P/E</th>
        <th>Beta</th>
        <th>MCap</th>
        <th>Margin</th>
        <th>D/E</th>
        <th>Current ratio</th>
    </tr>
    {% for i in current %}
    <tr>
        <td>{{  i.ticker  }}</td>
        <td>{{  i.price  }}</td>
        <td>{{  i.pe  }}</td>
        <td>{{  i.beta }}</td>
        <td>{{  i.mcap  }}</td>
        <td>{{  i.pm  }}</td>
        <td>{{  i.de  }}</td>
        <td>{{  i.cur  }}</td>
    </tr>
{% endfor %}
</table>

<form action="/" method="POST">
    <label for="ticker-search"</label>
    <input type="text" name="ticker-search" id="ticker-search" required>

    <input type="submit" name="submit-search" value="Search">
</form>

<br><br>
<main id="analysis">
    <h3>Portfolio Analysis</h3>
    <section id="projects">
        <div class="project-tile" id="project_1">
            <h4>Project 1</h4>
            <a href="https://en.wikipedia.org/wiki/Front-end_web_development">link</a>
        </div>
        <div class="project-tile" id="project_2">
            <h4>Project 2</h4>
            <a href="https://en.wikipedia.org/wiki/Front-end_web_development">link</a>
        </div>
    </section>
</main>
<br><br>
<section id="contact">
    <h4>Contact me</h4>
    <ul>
        <li><a id="profile-link" href="https://github.com/scottwarburton" target="_blank">Github page</a></li>
        <li>Email: xxx</li>
    </ul>
</section>
<footer id="tribute-info">More information on <a target="_blank" id="tribute-link" href="https://en.wikipedia.org/wiki/Front-end_web_development">frontend development</a></footer>
{% endblock %}