{% extends 'base.html' %}
{% block body %}

<script>
    document.getElementById("dashboard").classList.remove("active");
    document.getElementById("analysis").classList.remove("active");
    document.getElementById("market").classList.add("active");
</script>
<main class="pageContent">
    <div class="refresh">
        <h2 class="pageHeading">Market Update</h3>
        <form action="/market", method="POST">
            <label for="submit-refresh-market"></label>
            <input type="submit" class="submit" id="submit-refresh-market" name="submit-refresh-market" value="Click To Refresh Prices">
        </form>
    </div>
    <div id="indices" class="tableContainer">
        <table>
            <tr>
                <th>Index</th>
                <th>Price</th>
                <th>Daily return</th>
            </tr>
            {% for index in indices %}
            <tr>
                <td>{{  index.name  }}</td>
                <td>{{  index.price  }}</td>
                <td>{{  index.daily_return  }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>


</main>
{% endblock %}