{% extends 'base.html' %}
{% block body %}

<script>
    document.getElementById("dashboard").classList.remove("active");
    document.getElementById("analysis").classList.remove("active");
    document.getElementById("market").classList.add("active");
</script>
<main class="pageContent">
    <h3>Market Update</h3>
    <section id="indices">
        <table>
            <tr>
                <th>Index</th>
                <th>Price</th>
                <th>Daily return</th>
            </tr>
            {% for _ in indices %}
            <tr>
                <td>{{  indices[loop.index0][0]  }}</td>
                <td>{{  indices[loop.index0][1]  }}</td>
                <td>{{  indices[loop.index0][2]  }}</td>
            </tr>
            {% endfor %}
        </table>
    </section>


</main>
{% endblock %}