{% extends 'base.html' %}
{% block body %}

<script>
    document.getElementById("dashboard").classList.remove("active");
    document.getElementById("analysis").classList.remove("active");
    document.getElementById("market").classList.add("active");
</script>
<main class="pageContent">
    <h3>Market Update</h3>
    <section id="indices">
        <ul>
            <li>S&P 500: </li>
            <li>NASDAQ: </li>
            <li>FTSE 250: </li>
            <li>Nikkei 225: </li>
            <li>Hang Seng: </li>
            <li>ASX 200: </li>

        </ul>
    </section>
    <div class="project-div">
        <img class="wc-image" src="./static/images/watering-can.jpeg">
    </div>
    <div class="slider"></div>
    <script src="./static/script/slider.js" defer></script>


</main>
{% endblock %}