{% extends 'base.html' %}
{% block body %}

<script>
    document.getElementById("dashboard").classList.remove("active");
    document.getElementById("analysis").classList.remove("active");
    document.getElementById("project").classList.add("active");
</script>
<main class="pageContent">
    <h3>Portfolio Analysis</h3>
    <div class="project-div">
        <img class="wc-image" src="./static/images/watering-can.jpeg">
    </div>
    <div class="slider"></div>
    <script src="./static/script/slider.js" defer></script>


</main>
{% endblock %}