{% extends 'base.html' %}

{% block head %}
<title>Stock Update</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Update Stock</h1>

    <div class="form">
        <form action="/update/{{stock.id}}" method="POST">
            <input type="text" name="ticker" id="ticker" value="{{stock.ticker}}">
            <input type="number" name="units" id="units" value="{{stock.units}}">
            <input type="text" name="price" id="price" value="{{stock.price}}">
            <input type="submit" value="Update">
        </form>
    </div>
</div>
{% endblock %}