{% extends 'base.html' %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Update Stock</h1>

    <div class="form">
        <form action="/update/{{stock.id}}" method="POST">
            <label for="units">Units:</label>
            <input type="number" name="units" id="units">

            <label for="price">Price:</label>
            <input type="text" name="price" id="price">

            <input type="submit" value="Add Stock">
        </form>
    </div>
</div>
{% endblock %}